.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-page {
  display: flex;
  top: 0;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 100%;
  z-index: 1;
  background: white;
}

.bottom-page {
  display: flex;
  top: 320px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  width: 250px;
  text-align: center;
  /*display: flex;
  flex-direction: column;*/
  background: rgba(193, 193, 193, 0.73);
  padding: 20px;
}
input {
  padding: 5px;
  margin: 10px;
  width: 80%;
}

nav {
  display: flex;
  margin: 10px;
}
button {
  margin: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

li {
  background: rgb(226, 226, 226);
  margin: 10px;
  padding: 10px;
}
